NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=tanospo
DB_PASSWORD=secret
DB_NAME=tanospo

GMAPS_KEY=your-google-maps-key
AQI_KEY=your-aqi-key
OPENWEATHER_KEY=your-openweather-key

